@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 100px auto;

    min-height: 400px;
    background: rgba(0, 0, 0, 0.7);

    box-shadow: 10px 10px 8px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 8px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 8px -1px rgba(0, 0, 0, 0.75);
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.col {
    width: 32.7%;
    height: 10vh;
    background-color: red;

    box-shadow: 10px 10px 8px -1px rgba(0, 216, 17, 0.75);
    -webkit-box-shadow: 10px 10px 8px -1px rgba(0, 216, 17, 0.75);
    -moz-box-shadow: 10px 10px 8px -1px rgba(0, 216, 17, 0.75);
}

.btn {
    width: 200px;
    height: 45px;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 500;
    font-family: Roboto Mono;
}